In [1]:
import requests

QUERIES = ['Data+Engineer', 'Data+Analyst']
JOBS_COEFF = 2
POPULATION_COEFF = 5
PREF_SMALL_CITIES = True

In [4]:
import feedparser

# Base URL to access the StackOverflow RSS feed for jobs based on a specific query
STACKOVERFLOW_RSS_BASEURL = 'https://stackoverflow.com/jobs/feed?q='

def get_jobs(queries):
    '''Fetch all jobs listed on StackOverflow for specific queries.
    Args:
        queries: Array of queries for the job search.
    Returns:
        An array of jobs as JSON objects.
    '''
    jobs = []
    
    try:
        for query in queries:
            feed = feedparser.parse(STACKOVERFLOW_RSS_BASEURL + query)
            jobs.extend(feed["items"])
    except Exception as e:
        print("Critical: An error occured while fetching jobs from stackoverflow. (" + str(e) + ")")
    
    return jobs

jobs = get_jobs(QUERIES)
print('Query for jobs: ' + ', '.join(QUERIES) + ' returned ' + str(len(jobs)) + ' results.')

Query for jobs: Data+Engineer, Data+Analyst returned 264 results.

In [5]:
import json
import pandas as pd

# Transforming the json objects into a dataframe & dropping the rows with no specified location.
df_jobs = pd.DataFrame.from_records(jobs).dropna(subset=['location'])

# Group jobs by city.
df_locations = df_jobs.groupby('location').size().reset_index()

In [6]:
import requests

place_autocomplete_url = 'https://maps.googleapis.com/maps/api/place/autocomplete/json?key=AIzaSyDxbfysUK2aMFEaMw6VgFMM2Lk0CLvp1Yg&input={city}&language=en&types=(cities)'

def harmonize(location):
    city = str(location).split(', ')[0]
    clean_location = 'NaN'
    
    response = requests.get(place_autocomplete_url.format(city=city))
    predictions = response.json()['predictions']
    
    if len(predictions):
        clean_location = predictions[0]['description']
        
    return clean_location

#df_locations.location = df_locations.location.apply(harmonize)

In [7]:
# Merges duplicate cities that were just harmonized.
sr_locations = df_locations.dropna(subset=['location']).groupby('location').sum()[0]

print(sr_locations.nlargest(10))

location
London, UK                46
Berlin, Germany           19
Amsterdam, Netherlands    16
München, Deutschland       9
Berlin, Deutschland        7
Bangkok, Thailand          6
Düsseldorf, Germany        6
Cambridge, UK              5
Hamburg, Deutschland       5
Oxford, UK                 5
Name: 0, dtype: int64

In [8]:
import pandas as pd

def get_cities():
    df_cities = pd.read_csv("CityDensity.csv")
    
    df_population = df_cities.drop(columns=['geonameid','name', 'alternatenames', 'latitude', 'longitude', 'feature class', 'feature code', 'country code', 'cc2','admin1 code','admin2 code','admin3 code','admin4 code','elevation','dem','timezone','modification date'])
    df_population.dropna(axis=0, how='any')
    
    return df_population

df_population = get_cities()

In [9]:
def get_population(location):
    city = str(location).split(', ')[0]
    maximum_pop = df_population[df_population.asciiname == city].population.max()
    return maximum_pop

# Takes the location with the largest amount of jobs & transforms into a dataframe.
df_full = sr_locations.nlargest(10).copy().to_frame()

# Renaming the "jobs #" column.
df_full.columns = ['jobs']

# Fetch the population for the previously selected cities.
sr_population = df_full.index.map(get_population)

# Add the population to the locations dataframe (And drops cities where no population is found).
df_full = df_full.assign(population=sr_population.values).dropna()

df_full

                        jobs population
location
London, UK                46    7556900
Berlin, Germany           19    3426354
Amsterdam, Netherlands    16     741636
Berlin, Deutschland        7    3426354
Bangkok, Thailand          6    5104476
Cambridge, UK              5     158434
Hamburg, Deutschland       5    1739117
Oxford, UK                 5      22314

In [10]:
df_sorting = df_full.copy().reset_index()

# Transforms the population column in integers to allow sorting.
df_sorting['population'] = df_sorting['population'].apply(int)

# Sorts by population and reset index to have the sorting as a column.
df_sorting = df_sorting.sort_values('population', ascending=PREF_SMALL_CITIES).reset_index().reset_index()

# Add the sorting position index by number of jobs & population in a final column.
df_sorting['sorting'] = JOBS_COEFF * df_sorting['index'] + POPULATION_COEFF * df_sorting['level_0']

# Sorts 
df_sorting = df_sorting.drop(columns = ['index', 'level_0']).set_index('location').sort_values('sorting')

df_sorting

                        jobs  population  sorting
location
Oxford, UK                 5       22314       14
Amsterdam, Netherlands    16      741636       14
Cambridge, UK              5      158434       15
Berlin, Germany           19     3426354       22
Hamburg, Deutschland       5     1739117       27
Berlin, Deutschland        7     3426354       31
London, UK                46     7556900       35
Bangkok, Thailand          6     5104476       38

In [11]:
best_city_to_live_in = df_sorting.nsmallest(1, 'sorting')

bn = best_city_to_live_in.iloc[0,:]

print('Based on your choices, the best city to live in is ' + bn.name + '.\nThere is ' + str(bn.population) + ' inhabitants and ' + str(bn.jobs) + ' jobs offerings that fits your criterias.')

Based on your choices, the best city to live in is Oxford, UK.
There is 22314 inhabitants and 5 jobs offerings that fits your criterias.